
/* Here goes my style page */

@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@700&display=swap');


body {
    grid: 1cm;
    display: flex;
    background-color: rgb(96, 218, 211);
    display:  inline-block;
  }
  
  
  h1 {
    font-family: 'Karantina', cursive;
    grid-area: auto;
    flex-grow: 3;
    height: 1cm;
    width: 200mm;
    font-size: .5in;
    color: #b94242;
    margin-left: 20px;
  }

  h2 {
      grid-row: auto;
      flex-shrink: 3;
      color: hsl(5, 86%, 11%);
      position: sticky;
  }

  h3{
      flex-direction: row;
      position: relative;
      color: red;
  }

  .entrie{
      flex-grow: initial;
      min-width: none;
      max-width: none;
      display: block;
      text-decoration: wavy;
      text-align: justify;
      font-size: 1em;
      width: 200vw;
      height: 11lh;
      margin-top: short;
      margin-bottom: long;
      margin-left: auto;
      padding-top: short;
      padding-bottom: short;
      border-style: dashed;
      border-color: chartreuse;
      border-width: 2mm;
      border-radius: 2mm;
      
  }

input:hover{
    color: blue;
}
input:active{
    color: red;
}
  #newest {
      background: rgb(250, 250, 250);
  }

